name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
      fail-fast: false

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        make install
    - name: Lint with flake8
      run: |
        make style
    - name: Typing check with mypy
      run: |
        make typing
    - name: Test with pytest
      run: |
        make tests
    # - name: Codecov
    #   run : |
    #     pip install codecov
    #     codecov --token=<PROJECT-TOKEN>
